//h1 Chat
//button(ng-click="popoverVisible=!popoverVisible" outer-click="popoverVisible=false" outer-click-exclude="popover") Threads
    span(ng-if="$ctrl.count") &nbsp;({{ $ctrl.count }})
//threads-popover(id="popover" ng-class="{visible: popoverVisible}" ng-if="popoverVisible")
div(class='name')
    h1 EVENTOR!
div(class='search')
    input(type="text", name="search", placeholder="Search")
    img(src='/static/search.png' ng-click="$ctrl.setItem('click')")
    
   
div(class='signIn')
    input(type="button", name="signIn",value="Sing In")


   


//div(class='user')

//p Sing In {{$ctrl.owner.username}}
    img(src='/static/user.jpg' ng-click="$ctrl.setItem('click')")
   
//div(class='userimg')
    img(src="{{$ctrl.owner.picture.large}}")
